@charset "UTF-8";


body {
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("cuttingBoard.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

h2 {
	 text-align: center;
}

.form-group label, p{
  color: black;
}